* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #174bb3, #91f3f9e7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
.todo-app {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.todo-app img {
    width: 24px;
    margin-left: 10px;
}
.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;}
.input-row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    margin-right: 10px;
    font-family: cursive;
    font-weight: bold;}
.input-row button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s ease;}
.input-row button:hover {
    background: #ff4029;}
ul {
    list-style-type: none;
}
ul li {
    font-size: 18px;
    padding: 10px 20px;
    background: #6d95d6a9;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}
ul li.completed {
    text-decoration: line-through;
    background: #d3d3d3;
}
ul li span {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
}
ul li span:hover {
    background: #edeef0;
}
